@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common styles */

.common-width{
    max-width: 1212px;
    margin: 0 auto;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Header area styles */

.header{
    background-color: #6c3483;
}

/* Navbar area styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

/* Logo styles */

.logo img{
    width: 130px;
    filter: invert(100%);
}

.logo a{
    text-decoration: none;
}

/* Search area styles */


.search-area{
    position: relative;
}

.search-area input{
    max-width: 509px;
    padding: 8px 35px 8px 15px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: #F1F1F1;
    font-size: 1rem;
    color: #808b96;
}

.search-icon img{
    position: absolute;
    top: 5px;
    right: 8px;
    filter: invert(50%);
    cursor: pointer;
}


/* Menu area styles */

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
}

nav li{
    height: 50px;
}

nav li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 24px;
    color: #b3b6b7;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}

nav li a:hover{
    background-color: #17202a;
    color: #FFBF00;
}

/* Responsive sidebar area for Mobile menu */

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #6c3483;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

/* Banner area styles */

.banner{
    display: flex;
    justify-content: space-between;
    background-color: #FEEAE9;
    margin-top: 63px;
    margin-bottom: 64px;
    padding: 39px 46px;
}

.banner-content{
    max-width: 560px;
}

.banner-title{
    font-size: 3rem;
    font-weight: bold;
    color: #1F1F1F;
    margin-top: 64px;
}

.banner-description{
    font-size: 1rem;
    color: #4E4E4E;
    margin-bottom: 15px;
}

.price{
    font-size: 2.2rem;
    font-weight: 500;
    color: #FF136F;
}

.banner-btn{
    display: block;
    background: linear-gradient(#FF589B, #FF136F);
    padding: 15px 28px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    margin-top: 7px;
    cursor: pointer;
}

.banner-img img{
    max-width: 402px;
}

/* Responsive for Mobile Devices */

@media screen and (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

@media screen and (max-width:576px) {

    /* Header navbar area responsive */
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }

    .search-area{
        display: none;
    }

    .logo img{
        padding-left: 25px;
    }
}

/* Responsive for Tablet Devices */

@media screen and (min-width: 576px) and (max-width: 768px) {

    /* Header navbar area responsive */
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }

    .search-area{
        display: block;
    }

    .logo img{
        padding-left: 25px;
    }
}

/* Responsive for Large Devices */

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* Header navbar area responsive */
    .search-area{
        display: none;
    }

    .logo img{
        padding-left: 25px;
    }
}